*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

# Firebase configuration files
google-services.json
app/src/main/assets/firebase/
*firebase-adminsdk*.json
/build
/captures
.externalNativeBuild
.cxx
local.properties
